@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Ubuntu&display=swap');
body {
    font-family: 'Ubuntu', sans-serif;;
    background-color: #23153c;
}




* {
    text-align: center;
    color: mintcream;
    text-shadow: 3px 3px 2px #1c0c46;
}
h1 {
    color: lavenderblush;
    font-size: 45px;
}
h2 {
  color: lavenderblush;
  font-size: 35px;
}
p {
    color: mintcream;
    font-size: 25px;
}
img {
    border-radius: 8px;
}
/* This sets the colors for all hyperlinks */
a:link {
    color: rgb(162, 169, 238);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(153, 120, 230);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(91, 72, 177);
    background-color: transparent;
    text-decoration: underline;
    font-size: 110%;
  }
  
  a:active {
    color: rgb(208, 249, 255);
    background-color: transparent;
    text-decoration: underline;
  }
  .quick {
    color: white;
    padding: 10px;
    text-shadow: 0px 0px 10px #170642;
    transition: color 0.5s ease;
    transition: 0.3s ease;
  }
  a /*this just sets the transition yup*/ {
    transition: color 0.3s ease;
    transition: 0.3s ease;
    text-shadow: 3px 3px 20px #1c0c46;
  }
/* W3 SCHOOLS ONTOP I LOVE W3SCHOOLS */

body {
  --color-bg: #0e0e0f;
  --color-bg-2: #141414;
  --color-bg-3: #800180;
  --gradient-margin: 800px;
  color: white
}

html,
body {
  height: 100%;
  margin: 0;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.animated-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + var(--gradient-margin));
  background: radial-gradient( ellipse at 500% 0%, var(--color-bg) 50%, var(--color-bg-2) 80%, var(--color-bg-3) 100%);
  z-index: -1;
  transform: translateY(calc(var(--gradient-margin) * -1));
}

.item {
  padding: 10px;
  border-style: groove;
  border-radius: 10px;
  transition: ease-out 0.3s;
}

.item:hover {
  padding: 10px;
  border-style: groove;
  border-radius: 10px;
  transition: ease-out 0.3s;
}

.morestuffsecret {
  transition: ease 0.3s;
  color: #ff00ff;
  text-emphasis-color: #ff00ff;
}
.morestuffsecret:hover {
  color: blueviolet;
  text-emphasis-color: blueviolet;
  scale: 1.05;
}

.secretdetail {
  padding: 10px;
  border-style: groove;
  border-radius: 10px;
  background-color: #151c3cbe;
  transition: ease-out 0.3s;
}

.secretdetail:hover {
  padding: 10px;
  border-style: groove;
  border-radius: 10px;
  background-color: #27095fbe;
  transition: ease-out 0.3s;
}

.github {
  background-color: rgba(28, 31, 43, 0.745);
}
.itchio {
  background-color: rgba(65, 12, 19, 0.745);
}
.email {
  background-color: rgba(60, 24, 77, 0.745);
}
.github:hover {
  background-color: rgba(48, 52, 77, 0.745);
}
.itchio:hover {
  background-color: rgba(95, 23, 33, 0.745);
}
.email:hover {
  background-color: rgba(86, 37, 109, 0.745);
}
hr.big {
  border-style: dashed;
  border-width: 3px;
  border-radius: 2px;
  border-top: 3px #efe7ff8e;
}

hr.smalls {
  border-style: dashed;
  border-width: 2px;
  border-radius: 2px;
  border-top: 2px #7f709e2f;
}

.quickimage {
  transition: ease-out 0.3s;
  scale: 1;
  padding-left: 12px;
  padding-right: 12px;
  width: 31px;
  height: auto;
}

.quickimage:hover {
  width: 42px;
  height: auto;
}